<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="home-container">
    <h1> Bienvenue sur la page des Tutos IT</h1>
    <h3> Connectez-vous pour accéder aux tutos</h3>
    <button onclick="window.location.href='http://localhost:8080/connexion'">Page de connexion</button>
    <h3> Pas de compte ?</h3>
    <button onclick="window.location.href='http://localhost:8080/registration'">Page d'inscription</button>
</div>
</body>
</html>
